.about-content .bi {
  padding: 0.5em;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  font-size: 0.9em;
}

.about-content h4 {
  font-size: 1.2em;
  font-weight: 900;
  margin: 0.7em 0;
}

.about-text {
  font-size: 0.8em;
}
