header {
  position: relative;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.header-left .img-fluid {
  margin-right: 10px;
}

.dark-mode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode #switch-mode {
  margin: 0 0.5em;
}

.icon-group {
  transition: transform 0.2s ease-in-out;
}

.icon-group:hover {
  transform: scale(1.1);
}

.bi {
  transition: color 0.2s ease-in-out;
}

.bi:hover {
  color: #007bff;
}

.header-profile-container {
  position: relative;
}
