@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #ebf3f2;
  --box-bg: #fff;
}

body {
  background-color: var(--body-bg);
}

.box {
  background-color: var(--box-bg);
}
